<p id="notice"><%= notice %></p>

<h1>Listing User4s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user4s.each do |user4| %>
      <tr>
        <td><%= user4.name %></td>
        <td><%= user4.email %></td>
        <td><%= user4.tel %></td>
        <td><%= link_to 'Show', user4 %></td>
        <td><%= link_to 'Edit', edit_user4_path(user4) %></td>
        <td><%= link_to 'Destroy', user4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User4', new_user4_path %>
