<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user4.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user4.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user4.tel %>
</p>

<%= link_to 'Edit', edit_user4_path(@user4) %> |
<%= link_to 'Back', user4s_path %>
