<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user3.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user3.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user3.tel %>
</p>

<%= link_to 'Edit', edit_user3_path(@user3) %> |
<%= link_to 'Back', user3s_path %>
